<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 mt-5">
          <h2>Valinor Todo</h2>
          <!-- ADD TODO -->
          <div class="card">
            <div class="card-body">
              <form action="/todo" method="post" class="">
                <div class="form-group">
                  <label for="todo"><strong>Tarea</strong></label>
                  <input
                    class="form-control"
                    type="text"
                    name="todo"
                    id="todo"
                    placeholder="Ingrese nueva tarea..."
                  />
                  <button type="submit" class="btn btn-primary btn-block mt-4">
                    Agregar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- HOME -->
        </div>
        <div class="col-md-7 mt-5">
          <h2>Tareas</h2>
          <!-- LIST -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Created By</th>
                <th>Todo</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% todos.forEach(todo => { %>
              <tr>
                <td><%= todo.user %></td>
                <td><%= todo.todo %></td>
                <td>
                  <a href="/todo/update/<%= todo.id %> " class="btn <%= todo.completed ? "btn-success" : "btn-dark" %> "
                    >Done
                    <span class="fas fa-check"></span>
                  </a>
                  <a href="/todo/delete/<%= todo.id %> " class="btn btn-danger"
                    >Delete
                    <span class="fas fa-trash"></span>
                  </a>
                  <a href="" class="btn btn-info"
                    >Edit
                    <span class="fas fa-edit"></span>
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="btn btn-light">
        <a href="/">Back
          <span class="fas fa-hand-point-left">
        </a>
      </div>
    </div>
  </body>
</html>
